@model AwesomeDesk.Models.AssistantAddResponseViewModel
@using AwesomeDesk.Extensions
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAssistant.cshtml";
}


<h2>[@ViewBag.Id] @ViewBag.Subject </h2>
<div class="ro-panel-right">

    @Html.ActionLink("Powrót", "List")
    <button class="btn btn-light" onclick="showhideall(); return false;" title=" Pokaż/ukryj konwersacje">
        <img src="~/Images/states.png" width="40" height="40" />
    </button>
</div>

<div class="tabs">
    <div class="tab-button-outer">
        <ul id="tab-button">
            <li><a href="#tab01">Ogólne</a></li>
            <li><a href="#tab02">Dziennik pracy</a></li>
            <li><a href="#tab03">Historia zgłoszenia</a></li>
        </ul>
    </div>
    <div class="tab-select-outer">
        <select id="tab-select">
            <option value="#tab01">Ogólne</option>
            <option value="#tab02">Dziennik pracy</option>
            <option value="#tab03">Historia zgłoszenia</option>
        </select>
    </div>
    <div id="tab01" class="tab-contents">
        <table class="table">
            @foreach (var item in Model.AssistantDetailsTickets)
            {
                if (item.AssOrCus == 1)
                {
                    <tr>
                        <td class="ro-msg-right">
                            @{
                                var param = "showhide('row_" + @Html.DisplayFor(modelItem => item.TiP_LP) + "')";
                            }
                            <button class="btn btn-light" onclick="@param; return false;"><b>@Html.DisplayFor(modelItem => item.OperatorName)</b> (@Html.DisplayFor(modelItem => item.TiP_Date)) </button>
                            <div class="ticketContent" id="row_@Html.DisplayFor(modelItem => item.TiP_LP)">
                                @Html.DisplayFor(modelItem => item.TiP_Content)
                            </div>
                        </td>
                    </tr>
                }
                if (item.AssOrCus == 2)
                {
                    <tr>
                        <td class="ro-msg-left">
                            @{
                                var param = "showhide('row_" + @Html.DisplayFor(modelItem => item.TiP_LP) + "')";
                            }
                            <button class="btn btn-light" onclick="@param; return false;"><b>@Html.DisplayFor(modelItem => item.OperatorName)</b> (@Html.DisplayFor(modelItem => item.TiP_Date)) </button>
                            <div class="ticketContent" id="row_@Html.DisplayFor(modelItem => item.TiP_LP)">
                                @Html.DisplayFor(modelItem => item.TiP_Content)
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
        @using (Html.BeginForm("DetailsAssistant", "Tickets"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPositionContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NewPositionContent, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.NewPositionContent, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @for (var i = 0; i < Model.AssistantDetailsTickets.Count(); i++)
                    {
                        @Html.HiddenFor(model => Model.AssistantDetailsTickets[i].TiH_ID)
                        @Html.HiddenFor(model => Model.AssistantDetailsTickets[i].OperatorName)
                        @Html.HiddenFor(model => Model.AssistantDetailsTickets[i].TiP_Content)
                        @Html.HiddenFor(model => Model.AssistantDetailsTickets[i].TiP_Date)
                        @Html.HiddenFor(model => Model.AssistantDetailsTickets[i].TiP_LP)
                        @Html.HiddenFor(model => Model.AssistantDetailsTickets[i].AssOrCus)
                    }
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wyślij" class="btn btn-default" />
                </div>
            </div>
        }<div>
        </div>
    </div>
    <div id="tab02" class="tab-contents">
        @Html.Action("AddWorkTimeLog", Model.AssistantDetailsTickets.FirstOrDefault().TiH_ID)
    </div>

</div>












