@model IEnumerable<AwesomeDesk.Models.ListWorkLogViewModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered  ">
        <thead>
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.Asystent)
                </th>
                <th class="ro-w-3"> 
                    @Html.DisplayNameFor(model => model.TwL_SpendHours)
                </th>
                <th class="ro-w-3">
                    @Html.DisplayNameFor(model => model.TwL_SpendMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TwL_Description)
                </th>
                <th class="ro-w-3">
                    @Html.DisplayNameFor(model => model.TwL_PublicDescription)
                </th>

                <th>Opcje</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asystent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwL_SpendHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwL_SpendMinutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwL_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwL_PublicDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TwL_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TwL_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TwL_ID })
                    </td>
                </tr>
            }
        </tbody>
       
    </table>
</div>