@model IEnumerable<AwesomeDesk.Models.Company>

@{
    ViewBag.Title = "Firmy";
    Layout = "~/Views/Shared/_LayoutAssistant.cshtml";
}

<h2>Firmy</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CmP_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CmP_PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CmP_PageAdress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CmP_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CmP_PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CmP_PageAdress)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.CmP_ID })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>