@using AwesomeDesk.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="~/Images/awesomedesk_logo-small.png" class="brand_logo" alt="Logo" />
                   
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="input-group mb-3 ">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input_user", @placeholder = "Email" })

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input_pass ", @placeholder = "Hasło" })
                        </div>
                        <div class="form-group ">
                            <div class="custom-control custom-checkbox ">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })

                            </div>
                        </div>
                        <div class="form-group  mt-1 d-flex justify-content-center">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="submit" value="Zaloguj się" class="btn login_btn" />
                        </div>

                        <div class="form-group  mt-1 d-flex justify-content-center">
                            @Html.ActionLink("Nie masz konta?", "Register", "", new { @class = "badge badge-secondary mx-auto d-block" })
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
